body{
  background-image: url('./images/background.jpeg');
}

a {
  text-decoration: none;
  color: #2fb8b8;
}

.mainBlock {
  height: 100%;
  background-color: white;
  border: solid 10px white;
  margin-left: 10%;
  margin-right: 10%;
  color: #2fb8b8 ;
  overflow: scroll;
}

.redBox {
  background-color: #a8f0f0;
  text-align: right;
}

.subtitle {
  font-size: 14px;
}

.blueBox {
  border: solid 4px #c2e9e9;
  background-color: #e8fbfb;
  padding: 5px;
  margin-top: 10px;
  overflow: hidden;
}

.blueBox img {
  float: right;
}

.dateBlock {
  border-bottom: dotted 2px blue;
}

.friends {
  border: solid 5px darkcyan;
  float: left;
  width: 30%;
  margin-top: 10px;
  background-color: lightblue;
}

.other {
  float: right;
  width: 60%
}
